PORT=3333
JWT_SECRET=change-me
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/rfinance
CORS_ALLOWED_ORIGINS=https://rfinance.vercel.app,https://www.rfinanece-vercel.app,https://rfinanece-web-git-main-nikollas-projects-9321ac0f.vercel.app,https://rfinanece-g2pe0tq1p-nikollas-projects-9321ac0f.vercel.app
